In [2]:
"""
 author:jjk
 datetime:2020/01/31
 coding:utf-8
 project name:test/pandas
 Program function: 

"""
import pandas as pd
import numpy as np

In [6]:
# 一、Series
# 仅有数据列表即可产生最简单的Series
s1 = pd.Series([1,'a',5.2,7])
# 左侧为索引，右侧为数据
print(s1)
# 获取索引
print(s1.index)
# 获取数据
print(s1.values)

0      1
1      a
2    5.2
3      7
dtype: object
RangeIndex(start=0, stop=4, step=1)
[1 'a' 5.2 7]

In [8]:
# 3.1.2 创建一个具有标签索引的Series
s2 = pd.Series([1,'a',3.4,6,],index=['a','b','c','d'])
print(s2)
print(s2.index)

a      1
b      a
c    3.4
d      6
dtype: object
Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
# 3.1.3 使用python字典创建Series
sdata = {'o1':3434, '02':3434,'03':'5656'}
s3 = pd.Series(sdata)
print(s3)

o1    3434
02    3434
03    5656
dtype: object

In [14]:
# 3.2.1 根据多个字典序列创建dataframe
data = {
    'state': ['1','2','3','4','5'],
    'year':[232,343,343,343,545],
    'pop':[1,2,3,4,5]
}
df = pd.DataFrame(data)
print(df)
print(df.dtypes)
print(df.columns) # 行
print(df.index) # 列

  state  year  pop
0     1   232    1
1     2   343    2
2     3   343    3
3     4   343    4
4     5   545    5
state    object
year      int64
pop       int64
dtype: object
Index(['state', 'year', 'pop'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

In [15]:
df

  state  year  pop
0     1   232    1
1     2   343    2
2     3   343    3
3     4   343    4
4     5   545    5

In [16]:
df['year']

0    232
1    343
2    343
3    343
4    545
Name: year, dtype: int64

In [17]:
type(df['year']) # 查询一列

In [23]:
df.loc[3] # 查询一行

state      4
year     343
pop        4
Name: 3, dtype: object

In [24]:
type(df.loc[3])

pandas.core.series.Series

In [18]:
df[['year','pop']]

   year  pop
0   232    1
1   343    2
2   343    3
3   343    4
4   545    5

In [19]:
type(df[['year','pop']]) # 查询多行

pandas.core.frame.DataFrame

In [25]:
df.loc[1:3]

  state  year  pop
1     2   343    2
2     3   343    3
3     4   343    4

In [26]:
type(df.loc[1:3]) # 查询多行

pandas.core.frame.DataFrame