In [2]:
"""
 author:jjk
 datetime:2020/01/31
 coding:utf-8
 project name:test/pandas
 Program function: 

"""
import pandas as pd
import numpy as np
df =pd.read_csv('./datas/ml-latest-small/ratings.csv')
df.head() # 会自动生成索引

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
df.count()# 统计每列的个数

userId       100836
movieId      100836
rating       100836
timestamp    100836
dtype: int64

In [4]:
# 1、使用index查询数据
# drop=False，让索引列还保持在column
df.set_index('userId',inplace=True,drop=False)
df.head()

        userId  movieId  rating  timestamp
userId
1            1        1     4.0  964982703
1            1        3     4.0  964981247
1            1        6     4.0  964982224
1            1       47     5.0  964983815
1            1       50     5.0  964982931

In [5]:
df.index

Int64Index([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
            ...
            610, 610, 610, 610, 610, 610, 610, 610, 610, 610],
           dtype='int64', name='userId', length=100836)

In [6]:
# 使用index的查询方法
df.loc[500].head(5)

        userId  movieId  rating   timestamp
userId
500        500        1     4.0  1005527755
500        500       11     1.0  1005528017
500        500       39     1.0  1005527926
500        500      101     1.0  1005527980
500        500      104     4.0  1005528065

In [7]:
# 使用column的condition查询方法
df.loc[df['userId']==500].head()

        userId  movieId  rating   timestamp
userId
500        500        1     4.0  1005527755
500        500       11     1.0  1005528017
500        500       39     1.0  1005527926
500        500      101     1.0  1005527980
500        500      104     4.0  1005528065

In [9]:
# 2. 使用index会提升查询性能
"""
·如果 index是唯一的， Pandas会使用哈希表优化，查询性能为O(1)
·如果 index不是唯一的，但是有序， Pandas会使用二分查找算法，查询性能为O(logN)
·如果 index是完全随机的，那么每次查询都要扫描全表，查询性能为O(N)

"""
# 实验1：
# 将数据随机打散
from sklearn.utils import shuffle
df_shffle = shuffle(df) # 将df随机打散
df_shffle.head()

        userId  movieId  rating   timestamp
userId
124        124        1     4.0  1336584336
561        561     6800     3.5  1491094376
321        321      276     3.0   843212762
113        113     2752     3.0   980307472
246        246    95167     4.0  1354149468

In [10]:
# 索引是否是递增
df_shffle.index.is_monotonic_increasing # 是否单调递增

False

In [11]:
df_shffle.index.is_unique # 如果是的话，会哈希查询

False

In [12]:
# 计时，查询id=500数据性能
%timeit df_shffle.loc[500]

897 µs ± 102 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [13]:
# 实验2：将index排序后的查询
df_sorted = df_shffle.sort_index() # 排序
df_sorted.head()

        userId  movieId  rating  timestamp
userId
1            1     1967     4.0  964981710
1            1     2193     4.0  964981710
1            1     2470     5.0  964982588
1            1     3243     3.0  964981093
1            1     1396     3.0  964983017

In [14]:
# 索引是否递增的
df_sorted.index.is_monotonic_increasing

True

In [15]:
df_sorted.index.is_unique

False

In [16]:
%timeit df_sorted.loc[500]

758 µs ± 110 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [17]:
# 3 使用index能自动对齐数据
s1 = pd.Series([1,2,3],index=list('abc'))
s1

a    1
b    2
c    3
dtype: int64

In [18]:
s2 = pd.Series([2,3,4],index=list('bcd'))
s2

b    2
c    3
d    4
dtype: int64

In [19]:
s1+s2

a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64

In [ ]:
'''
4.使用index更多更强大的数据结构支持
很多强大的索引数据结构
Categoricallndex，基于分类数据的Index，提升性能；
Multilndex，多维索引，用于groupby多维聚合后结果等；
Datetimelndex，时间类型索引，强大的日期和时间的方法支持；

'''