In [1]:
"""
 author:jjk
 datetime:2020/02/16
 coding:utf-8
 project name:test/pandas
 Program function: 

"""
import pandas as pd
import numpy as np
#%matplotlib inline

In [2]:
"""
PandasPyecharts怎样结合绘制交互性折线图？
背景：
   PandasPython是用于数据分析领域的超级牛的库
   Echarts是百度开源的非常好用强大的可视化图表库， PyechartsPython是它的库版本

"""

'\nPandasPyecharts怎样结合绘制交互性折线图？\n背景：\n   PandasPython是用于数据分析领域的超级牛的库\n   Echarts是百度开源的非常好用强大的可视化图表库， PyechartsPython是它的库版本\n\n'

In [3]:
xlsx_path = './datas/stocks/baidu_stocks.xlsx'
df = pd.read_excel(xlsx_path,index_col='datetime',parse_dates=True)
df.head()

,code,open,close,high,low,vol,p_change
datetime,,,,,,,
2019-12-03,BIDU,115.199997,114.800003,116.019997,113.300003,3493249,-2.25
2019-12-02,BIDU,118.389999,117.440002,119.764999,116.400002,2203313,-0.92
2019-11-29,BIDU,118.300003,118.529999,118.690002,117.599998,1917004,-0.82
2019-11-27,BIDU,119.180000,119.510002,119.839996,118.440002,2341070,0.77
2019-11-26,BIDU,120.010002,118.599998,120.440002,118.099998,3813176,-1.43

In [4]:
df.index # 索引

DatetimeIndex(['2019-12-03', '2019-12-02', '2019-11-29', '2019-11-27',
               '2019-11-26', '2019-11-25', '2019-11-22', '2019-11-21',
               '2019-11-20', '2019-11-19',
               ...
               '2019-01-15', '2019-01-14', '2019-01-11', '2019-01-10',
               '2019-01-09', '2019-01-08', '2019-01-07', '2019-01-04',
               '2019-01-03', '2019-01-02'],
              dtype='datetime64[ns]', name='datetime', length=227, freq=None)

In [5]:
df.sort_index(inplace=True) # 索引排序，inplace=True表示修改这个索引
df.head()

,code,open,close,high,low,vol,p_change
datetime,,,,,,,
2019-01-02,BIDU,156.179993,162.250000,164.330002,155.490005,2996952,NaN
2019-01-03,BIDU,158.750000,154.710007,159.880005,153.779999,3879180,-4.65
2019-01-04,BIDU,157.600006,160.949997,162.429993,157.250000,3847497,4.03
2019-01-07,BIDU,162.600006,162.600006,164.490005,158.509995,3266091,1.03
2019-01-08,BIDU,162.190002,163.399994,163.889999,158.160004,3253361,0.49

In [12]:
# 2、使用pyecharts绘制折线图
from pyecharts.charts import Line
from pyecharts import options as opts
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
# 折线图
line = Line() # 折线图对象

# x轴
line.add_xaxis(df.index.to_list()) # x轴数据：列表——日期

# 每个y轴
line.add_yaxis("开盘价",df['open'].round(2).to_list())
line.add_yaxis("收盘价",df['close'].round(2).to_list())

# 图标配置
line.set_global_opts(
    title_opts=opts.TitleOpts(title='百度股票2019年'), 
    tooltip_opts=opts.TooltipOpts(trigger='axix',axis_pointer_type='cross'))

In [15]:
# 渲染数据
line.render_notebook()
line.render()

'F:\\Pycharm\\Pycharm_workstation\\test\\pandas\\render.html'