In [1]:
"""
 author:jjk
 datetime:2020/01/31
 coding:utf-8
 project name:test/pandas
 Program function: 

"""
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A','B','C','D'] # 每列的名称
)

In [3]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [4]:
# 1、单列drop，就是删除某一列
df.drop('A',axis=1) # 输出a这一列

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [5]:
# 2、单行drop，就是删除某一行
df.drop(1,axis=0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

In [6]:
# 3、按axis=0/index执行mean聚类操作
# 反直觉：输出的不是每行的结果，而是每列的结果
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [7]:
# axis=0, or axis = index
df.mean(axis=0) # 按哪个axis，就是这个axis要动起来（类似被for遍历，其它的axis保持不动,所以，四列不动

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [8]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [9]:
df.mean(axis=1) # 三行的平均数据，跨列输出行结果

0    1.5
1    5.5
2    9.5
dtype: float64

In [10]:
# 5、再次举例，加深理解
def get_sum_value(x):
    return x['A'] + x['B'] + x['C'] + x['D']
df['sum_value'] = df.apply(get_sum_value,axis=1) # 跨列输出行结果

In [11]:
df

   A  B   C   D  sum_value
0  0  1   2   3          6
1  4  5   6   7         22
2  8  9  10  11         38